<div class="theme-colors text-light">

  <div class="container-fluid">

    <section class="justify-content-center">

      <div class="row p-2">

        <div class="col ms-auto text-center" {% if page.is_post %} data-nosnippet="true" {% endif %}>

          <div>
            <a href="/"><img height="120px" src="/assets/img/primary/logo.png"></a>
          </div>

          <p>
            I love books!
          </p>

        </div>

        <div class="col text-center ms-auto p-2">

          <h5>Follow Me</h5>

          <a href="{{ site.linkedinUrl }}">
            <i class="fab fa-linkedin fa-3x m-2"></i></a>

          <a href="{{ site.goodreadsUrl }}">
            <i class="fab fa-goodreads fa-3x m-2"></i></a>

        </div>

        <div class="col text-center ms-auto p-2">
          <!--googleoff: all-->
          <h5>Website Info</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="/">Posts</a>
            </li>
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="/legal/privacy-policy">Privacy</a>
            </li>
          </ul>
          <!--googleon: all-->

        </div>

      </div>

    </section>

  </div>

</div>