<div class="theme-colors text-light">
  
  <div class="container-fluid">

    <section class="justify-content-center">

      <div class="row p-2">

        <!-- <div data-nosnippet="true" class="col ms-auto p-2 text-center">

          <h5>Follow Us?</h5>
          <form>
            <p>subscriptions & social coming soon</p>
          </form>

        </div> -->

        <div class="col ms-auto text-center" {% if page.is_post %} data-nosnippet="true" {% endif %} >

          <div>
            <a href="/"><img height="120px" src="/assets/img/primary/logo.png"></a>
          </div>

          <p>
            I love books!
          </p>

        </div>

        <div class="col text-center ms-auto p-2">
          <!--googleoff: all-->
          <h5>Website Info</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="about.html">About</a>
            </li>
            <li>
              <a href="/legal/privacy-policy">Privacy</a>
            </li>
            <li>
              <a href="/">Posts</a>
            </li>
            <li>
              <a href="/legal/terms-and-conditions">Terms of Use</a>
            </li>
          </ul>
          <!--googleon: all-->

        </div>

      </div>

    </section>

  </div>

</div>
