<div id="consent-banner-display" data-nosnippet>
    <!--googleoff: all-->
        <p>
            We use cookies to analyze our traffic and improve our service. By clicking “Accept All,” you consent to our use of cookies. 
            Read our <a href="/legal/privacy-policy">Privacy Policy</a> for more information.
        </br>
            <button onclick="hideConsentBannerOnAccept()">Accept All</button>
            <button onclick="hideConsentBannerOnReject()">Reject All</button>
        </p>
    <!--googleon: all-->
</div>
<script type="text/javascript" src="/assets/js/cookie-consent.js"></script>
