<head>
    <!-- Copyright bookenjenn.com All Rights Reserved -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YKR7RYKJQD"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-YKR7RYKJQD', {cookie_flags: 'SameSite=None;Secure' });</script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="/assets/img/primary/logo.png">
    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
    {% endif %}
    {% if site.title %}
    <title>{{ page.title | default: site.title }}</title>
    {% endif %}
    
    {% seo %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    {% if layout.primary-css %}
    {% for css in layout.primary-css %}
    <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
    {% endif %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>