<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    <link rel="icon" href="/assets/img/primary/logo.png">

    {% if site.title %}
    <title>{{ page.title | default: site.title }}</title>
    {% endif %}

    {% if site.description %}
    <meta name="description" content="{{ page.description | default: site.description }}">
    {% endif %}

    {% if site.author %}
    <meta name="author" content="{{ site.author }}">
    {% endif %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords | join: ', ' | escape }}">
    {% endif %}

    {% if page.url %}
    <link rel="canonical" href="{{ site.url }}{{ page.url }}">
    {% endif %}


    {% if page.is_post %}
        {% assign type = "article" %}
    {% else %}
        {% assign type = "website" %}
    {% endif %}

    <meta property="og:type" content="{{ type }}" />
    <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 140 }}{% else %}{{ site.description }}{% endif %}" />
    
    {% if page.imgUrl %}
    <meta property="og:image" content="{{ page.imgUrl | absolute_url }}" />
    {% else %}
    <meta property="og:image" content="{{ '/assets/img/primary/graph-contrast.png' | absolute_url }}" />
    {% endif %}

    {% if page.is_post %}
    <meta property="og:site_name" content="{{ site.title }}" />
    {% endif %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    {% if layout.primary-css %}
        {% for css in layout.primary-css %}
        <link rel="stylesheet" href="{{ css | relative_url }}">
        {% endfor %}
    {% endif %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3600J6D1TZ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3600J6D1TZ');
    </script>

</head>