<div class="pageinator">

    <div class="post-listing-card"  onclick="goToPost('{{ post.url | absolute_url }}')">

        <img src='/assets/img/{{ post.date | date: "%Y-%m" }}/{{ post.imgUrl }}' alt="Img Not Found">

        <h2> <a class="anc-hover" href="{{ post.url | absolute_url }}">{{ post.title }}</a> </h2>

        <div class="date-posted-stamp">
            {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
            <p>Posted: {{ post.date | date: date_format }} </p>
        </div>

        <div class="sample-post-text">
            <p class="sample-post-text">{{ post.description | default: post.title }}</p>
        </div>

    </div>
</div>