<nav class="navbar navbar-dark theme-colors navbar-expand-lg">
  <div class="container">

    <a class="navbar-brand" href="/">
      <img src="/assets/img/primary/logo.png"></a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse noselect" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">


        <li class="nav-item">
          <a {% if page.name=="index.md" %}class='nav-link active' {% else %}class='nav-link' {% endif %}
            href="/" draggable="false">Home</span></a>
        </li>

        <li class="nav-item">
          <a {% if page.name=="contact.md" %}class='nav-link active' {% else %}class='nav-link' {% endif %}
            href="/contact">Contact</a>
        </li>

      </ul>
    </div>

  </div>
</nav>