.post-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px 10px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.post-listing-card {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    cursor: pointer;
}
.post-listing-card-top { height: 390px; }
.post-listing-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    transition: width 0.5s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 1;
}

.post-listing-card:hover img {
    width: 0;
    opacity: 0;
}
.post-listing-card:hover a {
    color: #247ba0;
}

.sample-post-text {
    position: absolute;
    top: 15%;
    z-index: -5;
    width: 100%;
    text-align: center;
    line-height: 1.5;
}
.sample-post-text p {
    font: 18pt 'Federant', sans-serif;
    padding: 10px;
}

.post-listing-card h2 {
    margin: 0;
    font-size: 18pt;
    overflow: hidden;
}

.date-posted-stamp {
    margin: 5px 0 10px;
    font-style: oblique;
}
.date-posted-stamp p { font-size: 12pt; }

@media (max-width: 1001px) {
    .post-card-container {
        /* TODO: Force single column on mobile with better logic */
        grid-template-columns: 300px;
    }
    .post-listing-card,
    .post-listing-card img,
    .post-listing-card:hover img {
        animation: none;
        transform: none;
        transition: none;
        opacity: 1;
        width: 100%;
    }
    .sample-post-text {
        all: unset;
        display: block;
        position: relative;
        z-index: 1;
    }
    .sample-post-text p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14pt;
        margin: 0;
        padding: 10px 10px 0;
    }
}


.posts-header {
    background: url('../img/primary/about-me-book-shelf.webp') center/cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    height: 50vh;
    max-height: 1000px;
    min-height: 290px;
    position: relative;
    text-align: center;
}

.posts-header-title {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

.posts-header-title h1, 
.posts-header-title h2, 
.posts-header-title p {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

.posts-header-title h1 { 
    margin: 0; 
    font-size: 40pt; 
    text-shadow: 3px 3px 1px black; 
}

.posts-header-title h2, 
.posts-header-title p { 
    font-style: oblique;
    padding: 0;
    margin:0;
    font-size: 18pt; 
}

.featured-posts-title { 
    margin: 0 auto 35px; 
    text-align: center; 
}

.featured-posts-title h1, 
.featured-posts-title h2 {
    padding: 30px;
    margin: auto;
}

.post-header {
    margin: 25px auto;
}
.post-header p {
    font-style: oblique;
    font-size: 14pt;
}
.post-header h1,
.post-header p {
    padding: 0;
    margin: 0;
}
