@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

:root {
    /* Main Palette */
    --color-bg-main: #896978;
    --color-primary: #7fb069;
    --color-secondary: #7ca5b8;
    --color-tri: #444444;
    --color-accent: #083f5c;

    /* Text & UI */
    --color-text-light: whitesmoke;
}

/* Theme Helper */

.theme-colors {
    background-color: #896978;
   /* background-color: #7ca5b8; */
    /*background-color: #3D8F81; */
}

.primary-theme-color {
    
   background-color: #7fb069;
   /* background-color: #C2F9BB;*/
    /* color: whitesmoke; */
}

.secondary-theme-color {
    background-color: #7ca5b8;
   /* background-color: #896978;*/
  /*  background-color: #247BA0; */
    color: whitesmoke;
    outline: 1px solid transparent;

    /* Smooth Edges */
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform;
    -webkit-perspective: 1000;
}

.tri-theme-color {
    background-color: #444444;
    color: whitesmoke;
}

.accent-theme-color {
    background-color: #083f5c;
    
}

/* Main */

* {
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Federant', sans-serif;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
h1 { font-size: 2.8rem;}
h2 {font-size: 2.20rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.35rem;}
h6 {font-size: 1.15rem;}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  word-spacing: 0.05em;
}

.spacer {
  flex: 1;
}

.float-left {
  display: relative;
  width: 26%;
  float: left;
  margin: 3px;
  margin: 0;
  padding: 6px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  padding: 5px;
}

.post-content {
  padding: 0;
}
.post-content {
  margin: 0px auto 0px auto;
  max-width: 1300px;
  text-align: center;
}

.blog-content {
  max-width: 45rem;
  margin: 35px auto;
  padding-left: 12px;
  padding-right: 12px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.blog-content p {
  padding-top: 10px;
}

a,
a:link {
  color: #62246B;
  text-decoration: none;
}

.anc-hover:hover,
a:hover {
  color: #62246B;
  text-decoration: none;
}

.navbar-dark .nav-link {
  min-width: 90px;
  text-align: center;
  font-size: 1.5rem;
  color: #62246B;
  font-family: 'Federant', sans-serif;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  height: auto;
}

.navbar-brand img {
  height: 50px;
  margin: 0;
  padding: 0;
}

.footer-disclaimer {
  font-size: 8pt;
}

.show-consent-banner {
  border-top: solid black 2px;
  z-index: 2;
  position: fixed;
  bottom: 0;
  height: 200px;
  width: 100%;
  background-color: whitesmoke;
  text-align: center;
  color: black;
}

.hide-consent-banner {
  position: relative;
  display: none;
  overflow: hidden;
  visibility: hidden;
  height: 0;
}

.img-caption-include {
  text-align: center;
  margin: 10px auto 10px auto;
  /* width: 90%; */
  border: solid 1px whitesmoke;
}

.img-caption-include img {
  width: 100%;
}

/* I Frame */

.frame {
  width: 100%;
  height: 600px;
  margin: auto;
  padding: 0;
}

.frame-container {
  width: 100%;
  height: 842px;
}

/* about page section */
.row {
  display: flex;
}

.column {
  flex: 50%;
  min-width: 400px;
}


/* Posts and Post cards */

.post-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px 10px;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.post-listing-card {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    cursor: pointer;
}
.post-listing-card-top { height: 420px; }
.post-listing-card img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
    transition: width 0.5s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 1;
}

.post-listing-card:hover img {
    width: 0;
    opacity: 0;
}
.post-listing-card:hover a {
    color: #247ba0;
}

.sample-post-text {
    position: absolute;
    top: 15%;
    z-index: -5;
    width: 100%;
    text-align: center;
    line-height: 1.5;
}
.sample-post-text p {
    font: 18pt 'Federant', sans-serif;
    padding: 10px;
}

.post-listing-card h2 {
    margin: 0;
    font-size: 18pt;
    overflow: hidden;
}

.date-posted-stamp {
    margin: 5px 0 10px;
    font-style: oblique;
}
.date-posted-stamp p { font-size: 12pt; }

@media (max-width: 1001px) {
    .post-card-container {
        /* TODO: Force single column on mobile with better logic */
        grid-template-columns: 300px;
    }
    .post-listing-card,
    .post-listing-card img,
    .post-listing-card:hover img {
        animation: none;
        transform: none;
        transition: none;
        opacity: 1;
        width: 100%;
    }
    .sample-post-text {
        all: unset;
        display: block;
        position: relative;
        z-index: 1;
    }
    .sample-post-text p {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14pt;
        margin: 0;
        padding: 10px 10px 0;
    }
}


.posts-header {
    background: url('/assets/img/primary/about-me-book-shelf.webp') center/cover;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1;
    height: 50vh;
    max-height: 1000px;
    min-height: 290px;
    position: relative;
    text-align: center;
}

.posts-header-title {
    position: absolute;
    padding-bottom: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

.posts-header-title h1, 
.posts-header-title h2, 
.posts-header-title p {
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
}

.posts-header-title h1 { 
    margin: 0; 
    font-size: 40pt; 
    text-shadow: 3px 3px 1px black; 
}

.posts-header-title h2, 
.posts-header-title p { 
    font-style: oblique;
    padding: 0;
    margin:0;
    font-size: 18pt; 
}

.featured-posts-title { 
    margin: 0 auto 35px; 
    text-align: center; 
}

.featured-posts-title h1, 
.featured-posts-title h2 {
    padding: 30px;
    margin: auto;
}

.post-header {
    margin: 25px auto;
}
.post-header p {
    font-style: oblique;
    font-size: 14pt;
}
.post-header h1,
.post-header p {
    padding: 0;
    margin: 0;
}
