---
layout: primary
---

<header class="posts-header" id="posts-home-header-id">
    <div class="posts-header-title">
        <h1>Book Enjenn</h1>
        <h2>I Love Books</h2>
    </div>
</header>

<div class="rotate-right">
    <div class="featured-posts-title secondary-theme-color">
        <div class="post-content">
            <h2>About The Author</h2>
        </div>
    </div>
</div>

<div class="post-content">
    <p>About the Author</p>
</div>
<script>
    function goToPost(url) {
        window.location.href = url;
    }
</script>
