---
layout: primary
---

{% include posts-header.html %}

<div class="rotate-right">
    <div class="featured-posts-title secondary-theme-color">
        <div class="post-content">
            <h2>About The Author</h2>
        </div>
    </div>
</div>

<div class="blog-content">
    {{ content }}

    <h2>Resume</h2>
    <div class="frame-container">
        <iframe class="frame" src="/assets/files/Resume-2025-Jenn-Chastka.pdf"></iframe>
    </div>
</div>

<script>
    function goToPost(url) {
        window.location.href = url;
    }
</script>
