---
layout: primary
---

{% include posts-header.html %}

<div class="rotate-right">
    <div class="featured-posts-title secondary-theme-color">
        <div class="post-content">
            <h2>Let's Talk Freelance!</h2>
        </div>
    </div>
</div>

<div class="blog-content">
    {{ content }}

    <div class="row">
        <div class="column">
            <h4>Specialties & Rates:</h4>
            <ul>
                <li>Developmental Editing ($330)</li>
                <li>Fact Checking ($200)</li>
                <li>Proofreading ($200)</li>
                <li>Line Editing CMOS/AP ($400)</li>
                <li>Beta Reading ($110)</li>
                <li>Content Creation ($25-$50 Per Post)</li>
            </ul>
        </div>
        <div class="column">
            <h4>Portfolio:</h4>
            <ul>
                <li><a href="/articles">Articles</a></li>
                <li><a href="https://www.goodreads.com/user/show/16060897-jenn-chastka">Book Reviews</a> </li>
                <li><a href="/mediaposts">Social Media Posts</a></li>
                <li><a href="https://bookenjenn.com/">Blog Posts</a> </li>
            </ul>
        </div>
    </div>

    <h2>Resume</h2>
    <div class="frame-container">
        <iframe class="frame" src="/assets/files/Resume-2025-Jenn-Chastka.pdf"></iframe>
    </div>
</div>
<script>
    function goToPost(url) {
        window.location.href = url;
    }
</script>