---
layout: primary
---

<header class="posts-header" id="posts-home-header-id">
    <div class="posts-header-title">
        <h1>Book Enjenn</h1>
        <h2>I Love Books</h2>
    </div>
</header>

<div class="rotate-right">
    <div class="featured-posts-title secondary-theme-color">
        <div class="post-content">
            <h2>My Book Reviews</h2>
        </div>
    </div>
</div>

<div class="post-content">
    <table id="postContainer" class="posts-pagination-table">

        {% for post in site.posts %}

        <div class="pageinator">

            <div class="post-listing-card" onclick="goToPost('{{ post.url | absolute_url }}')">

                <img src="{{ post.imgUrl }}" alt="Img Not Found">

                <h2> <a class="anc-hover" href="{{ post.url | absolute_url }}">{{ post.title }}</a> </h2>

                <div class="date-posted-stamp">
                    {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
                    <p>Posted: {{ post.date | date: date_format }} </p>
                </div>

                <div class="sample-post-text">
                    <p class="sample-post-text">{{ post.description | default: post.title }}</p>
                </div>

            </div>
        </div>

        {% endfor %}

    </table>
</div>
<script>
    function goToPost(url) {
        window.location.href = url;
    }
</script>
